*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
    font-family: Arial, sans-serif 'Inter';
    display: flex;
  flex-direction: column;
  background-color: #F6F0D7;
  padding-top: 90px;
}
/*web site en alt bölüm*/
.footer {
  background-color: #9CAB84;
  color: white;
  padding: 20px 0;
}
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-left,.footer-center,.footer-right {
  font-size: 17px;
  color: black;
}
.footer-left{
  margin-bottom: 27px;

}
.footer-center {
   opacity: 0.7;
   font-size: 18px;
}

/*başlık*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: #9CAB84;
  padding: 15px 30px;
  z-index: 1000;
  height: 90px;
}
.hamburger{
  display: none;   
  font-size: 32px;
  cursor: pointer;
}
.logo {
  justify-self: center;
  font-size: 50px;
  margin: 0;
  
}
.nav {
  justify-self: end;
  display: flex;
  gap: 14px;
  align-items: center;
  font-size: 22px;
}
.nav a {
    position: relative;
    text-decoration: none;
    color: #000;
}
.nav a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;               
  width: 0;
  height: 2px;
  background-color: #fff;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.nav a:hover::after,
.nav a.active::after {
  width: 60%;             
}
/*rezervasyon butonu*/
.buton {
  background: #435560;
  color: #fff;
  border: none;
  padding: 20px 20px;
  border-radius: 30px;
  font-weight: bold;
  transition: 0.3s;
}
.buton:hover {
  background: #6E7C7C;
}
.main {
  flex: 1; 
}
/*iletişim sayfa css*/

.iletisim {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;

}
.container {
 background-color: #F4F4F2;
  width: 1000px;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: center;
  min-height: auto;
  display: flex;
  flex-direction: column;
  gap: 19px;
  border-radius: 12px;
  position: relative;
  margin: 0 auto;   
}

.top-cont .right-cont ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
  list-style-position: inside;
}


.top-cont{
  display: flex;
  align-items: stretch;
  padding: 30px;
  text-align: center;
}
.top-cont, h4{
  font-size: 30px;
}
.left-cont,
.right-cont{
  width: 40%;
  font-size: 18px;
  margin: 20px;
}
.left-cont, p{
  margin-top: 32px;
}
.center-cont{
   width: 3px;
  background-color: #9CAB84;
  margin-left: 80px;
  border-radius: 4px;
}

.map {
  margin-top: 5px;
  border-radius: 15px;
  overflow: hidden; 
}

/* Harita iframe */
.map iframe {
  width: 100%;
  height: 380px;  
  border: 0;
}
.baslik {
  text-align: center;
  font-size: 40px;
  padding-bottom: 25px;
}
.alt-cont{
  text-align: center;
}

/*hakkımızda*/

.sec-hak{
  justify-content: center;
  align-items: center;
  margin: 40px;
  display: flex;
}
.kutu-hak{
  display: flex;
  gap: 30px;
  align-items: center;
  height: 700px;
  width: 1200px;
  background-color: #F4F4F2;
  border-radius: 14px;
  flex-direction: column;
   padding: 0 9px 0 35px;
}
.hak-foto{
  flex: 1;
  
  
}
.hak-foto img{
  height: 400px;
  width: 500px;
  border-radius: 9px;
 
}
.yazı-hak{
  flex: 1;
  font-size: 19px;
  line-height: 1.9;
}
.hak-bs{
  text-align: center;
  font-size: 38px;
  margin-top: 50px;
  font-family: 'Playfair Display' serif;
}
.hak-bss{
 margin-top: auto;       
  align-self: center;      
  font-size: 18px;
  opacity: 0.7;
}
.hak-içerik{
   display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 160px;
  
}
.hak-line{
 content: "";
  position: absolute;
  left: 50%;
  top: 10%;
  width: 3px;
  margin-top: 208px;
  height: 600px;
  background-color: #9CAB84;
}
/*ana sayfa fotoğraflı kısım*/
.ana-section{
   min-height:90vh;
      display:flex;
      align-items:center;
      justify-content:center;
      text-align:center;
      background:url('yemek\ menü\ fotoğrafları/cooking.jpeg') center/cover no-repeat;
      position:relative;
}
.ana-section::after{
  content:"";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.30);
  pointer-events: none;
}
.ana-hero{
  position: relative;
  color: #f4f4f2;
  max-width: 700px;
}
.ana-section h1{
  font-size: 64px;
  margin-bottom: 20px;
}
.ana-section p{
  font-size: 20px;
  margin-bottom: 30px;
}
.ana-btn{
  background: #f4f4f2;
  padding: 22px 32px;
  border-radius: 30px;
  text-decoration: none; 
  font-weight: 500;
}
/*menü*/


 .back-btn {
    display: none;
  position: sticky;    
  top: 100px;           
  margin: 20px auto;    
  padding: 10px 22px;
  border-radius: 12px;
  background-color: #435560;
  color: #fff;
  border: none;
  cursor: pointer;
  z-index: 10;
 }

 .item{
   margin-top: 60px;
 }



.back-btn:hover{
  transform: translateY(-4px);

}
/*kategoriler*/

.menu-cat{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}

.cat-card{
  background-color: #F4F4F2;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  transition:.3s;
  margin: 20px;
  text-align: center;
}

.cat-card:hover{
  transform: translateY(-6px);
}

.cat-card img{
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.cat-card h3{
  padding: 20px;
  font-size: 24px;
}

/*ürünler*/
.drinks-group {
  display: none;
  gap: 30px;
  justify-content: center;
}
.sub-card img{
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}
.sub-card {
  padding: 20px;
  background: #f4f4f2;
  border-radius: 12px;
  cursor: pointer;
  font-size: 22px;
  transition:.3s;
  text-align: center;
}
.sub-card:hover{
   transform: translateY(-6px);
}
.menu-group {
  display: none;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}
.item-card{
  background-color: #F4F4F2;
  padding: 20px;
  border-radius: 19px;
  margin: 15px;
}

.item-card img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 16px;
}

.item-card h4{
  margin: 15px 0 5px;
  font-size: 20px;
  text-align: center;
}

.item-card p{
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
 

/*pupup model css yeri*/

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0,0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
  
}

.modal-content{
  background: #F4F4F2;
  width: 700px;
  padding: 30px;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

.close-btn{
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 22px;
  cursor: pointer;
}

.form-grid{
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
  gap: 20px;
  margin: 20px 0;
}

.divider{
  background: #9CAB84;
  width: 5px;  
  border-radius: 4px;
}

.form-left,
.form-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
select,
textarea {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.textarea{
  width: 100%;
  height: 120px;
  margin-top: 10px;
  resize: none;
}

.submit-btn{
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  background: #435560;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
}
.submit-btn:hover {
  background: #6E7C7C;
}

/*message*/

.message{
  display: none;
    margin-top: 15px;
    padding: 12px;
    background-color: #e6f9ee;
    color: #1f7a4d;
    text-align: center;
    border-radius: 6px;
    font-weight: 500;
  
}
/*mobil uyum*/

@media (max-width: 768px) {

  /* hamburger görünür */
  .hamburger {
    display: block;
    font-size: 32px;
    cursor: pointer;
    z-index: 1001;
  }

  /* normal menüyü gizle */
  .nav {
    position: fixed;
    top: 90px; /* header yüksekliği */
    right: -100%;
    width: 250px;
    height: calc(100vh - 90px);
    background-color: #9CAB84;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    transition: right 0.3s ease;
  }

  /* menü açılınca */
  .nav.active {
    right: 0;
  }

  .nav a,
  .nav button {
    font-size: 20px;
    width: 100%;
  }
}

/*pupup mobil*/

@media (max-width: 768px) {


  .modal {
    padding: 0;
    padding-top: 80px;
  }

  .modal-content {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    overflow-y: auto;
    padding: 20px;
  }

  .form-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }


  .divider {
    display: none;
  }


  .form-left input,
  .form-right input,
  .form-right select,
  textarea {
    width: 100%;
    font-size: 16px;
  }

  textarea {
    min-height: 120px;
    resize: none;
  }


  .submit-btn {
    width: 100%;
    padding: 16px;
    font-size: 18px;
    margin-top: 15px;
  }

  .close-btn {
    font-size: 22px;
    top: 15px;
    right: 15px;
  }


  .message {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
  }
}

/*menü*/
@media (max-width: 768px) {

  /* KATEGORİLER */
  .menu-cat {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  /* TÜM MENÜ GRUPLARI (yemek, içecek, tatlı vs) */
  .menu-group {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  /* SICAK / SOĞUK İÇECEK SEÇİMİ */
  .drinks-group {
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
  }

  .sub-card {
    text-align: center;
    font-size: 20px;
    padding: 25px;
  }

  /* ÜRÜN KARTLARI */
  .item-card img {
    height: 200px;
  }

  .item-card h4 {
    font-size: 20px;
    text-align: center;
  }

  .item-card p {
    text-align: center;
    font-size: 18px;
  }
}

/*geri butonu*/

@media (max-width: 768px) {

  .back-btn {
    display: block;
    position: relative;   
    margin: 15px auto;
    background: #435560;
    color: #fff;
    padding: 12px 22px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;

}


/*iletişim*/

@media (max-width: 768px) {

  
  .top-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  /* Sol - sağ kutular */
  .left-cont,
  .right-cont {
    width: 100%;
    text-align: center;
  }

  /* Ortadaki çizgiyi kaldır */
  .center-cont {
    display: none;
  }

  /* Çalışma saatleri */
  .right-cont ul {
    padding: 0;
    margin: 0;
  }

  .right-cont li {
    list-style: none;
    margin-bottom: 6px;
  }

  /* Alt kısım (adres + harita) */
  .alt-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    margin-top: 1px;
  }

  .map iframe {
    width: 100%;
    height: 300px;
   
}


/*hakkımızda*/

@media (max-width: 768px) {

  .sec-hak {
    margin: 20px;
  }

  .kutu-hak {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .hak-içerik {
    flex-direction: column;
    margin-top: 0;
    gap: 20px;
  }

  .yazı-hak {
    font-size: 16px;
    text-align: center;
  }

  .hak-foto img {
    width: 100%;
    height: auto;
  }
 .hak-line{
  display: none; 
 }